@import "mixins";
@import "variables";

.btn {
  padding: clamp(10px, 2vh, 15px) clamp(45px, 6vw, 60px);
  border-radius: 99px;
  font-weight: $fw-medium;
  @include setTransition();

  &-white {
    background-color: $cl-white;

    &-sh {
      box-shadow: 0 10px 60px $cl-navy-light;
    }

    &-br {
      border: 3px solid $cl-orange;
      color: $cl-orange;
      padding: clamp(5px, 1.5vh, 8px) clamp(23px, 4vw, 40px);
    }
  }

  &-w30 {
    background-color: $cl-white-semi;
  }

  &-b30 {
    background-color: $cl-black-faint;
  }

  &-orange {
    background-color: $cl-orange;
    color: $cl-white;
  }

  &:hover {
    @include setScale(1.025);
  }
}
