.page-title {
  color: $cl-white;
  font-size: clamp(36px, 4vw, 48px);
  text-transform: uppercase;
  font-weight: $fw-bold;
}

.hero-text {
  color: $cl-white;
  font-size: clamp(36px, 4vw, 48px);
  font-weight: $fw-bold;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  &--orange {
    color: $cl-orange;
  }
}

.header {
  color: $cl-navy;
  font-size: clamp(36px, 4vw, 48px);
  font-weight: $fw-bold;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  text-transform: capitalize;

  &--orange {
    color: $cl-orange;
  }
}

.side-text {
  color: $cl-slate;
  font-size: clamp(18px, 3vw, 24px);
  font-weight: $fw-normal;
}

.button-text {
  color: $cl-white;
  font-size: clamp(12px, 2.5vw, 16px);
  font-weight: $fw-medium;

  &--navy {
    color: $cl-navy;
  }
}

.card-header {
  color: $cl-navy;
  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: $fw-s-bold;
  text-transform: capitalize;

  &--white {
    color: $cl-white;
  }
}

.card-side-text {
  color: $cl-slate;
  font-size: clamp(12px, 2vw, 16px);
  font-weight: $fw-medium;
}
