$cl-black-faint: #0000000d;
$cl-navy: #2f327d;
$cl-navy-light: #262d7626;
$cl-orange-mid: #f48c0680;
$cl-orange: #f48c06;
$cl-slate: #455a64;
$cl-turquoise: #49bbbd;
$cl-white-semi: #ffffff4d;
$cl-white: #ffffff;

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-s-bold: 600;
$fw-bold: 700;
$fw-e-bold: 800;
$fw-black: 900;
