# GLOBAL IGNORE FOR MONOREPO

# Turborepo
.turbo/

# Dependencies
node_modules
**/node_modules
**/postgres-data

# Build output
dist
dist-ssr
build
**/build
.next
**/.next
out
**/out

# Temp
.DS_Store
*.log
logs

# Coverage
coverage
**/coverage

# Env
.env*
*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# Prisma
/src/generated/prisma