services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: backend
    ports:
      - "51214:5432"
    volumes:
      - jobspot_postgres_data:/var/lib/postgresql/data

volumes:
  jobspot_postgres_data:
