.backdrop {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden !important;

  &--small {
    height: 50vh;
  }
}
