@import "@styles/mixins";
@import "@styles/variables";

.navigation {
  @include setDisplay(flex, center, space-between, row);
  padding: clamp(12px, 2vh, 20px) clamp(16px, 5vw, 60px);
  background-color: $cl-turquoise;
  text-transform: capitalize;
  height: 12vh;

  .burger {
    @include setDisplay(none, center, center, column);
    gap: 5px;
    z-index: 2;

    div {
      width: 30px;
      height: 4px;
      background-color: $cl-white;
      border-radius: 99px;
    }
  }

  &-logo {
    font-size: clamp(24px, 4vw, 36px);
    z-index: 2;
    font-weight: $fw-bold;
  }

  &-logo a,
  &__menu a {
    color: $cl-white;
  }

  &__menu {
    @include setDisplay(flex, center, center, row);
    gap: 45px;
    font-size: clamp(12px, 2.5vw, 16px);

    ul {
      @include setDisplay(flex, center, center, row);
      list-style-type: none;
      gap: 30px;
      font-weight: $fw-medium;
    }

    .button-text--navy {
      color: $cl-navy;
    }
  }
}

@media (width <= 992px) {
  .navigation {
    align-items: center;

    .burger {
      display: flex;
    }

    &__menu {
      @include setTransition();
      background-color: $cl-turquoise;
      flex-direction: column;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      padding: 60px 0;
      transform: translate(-105%);
      width: 100%;

      ul {
        flex-direction: column;
        font-size: 18px;
        gap: 45px;

        &:nth-child(1) {
          font-size: 24px;
          height: 100%;
        }
      }

      &--expanded {
        transform: translate(0);
      }
    }
  }
}
