@import "@styles/mixins";
@import "@styles/variables";

.job-slider {
  display: flex;
  width: 100%;
  gap: 30px;
  overflow: hidden;
  padding: 10px;

  .card {
    min-width: 420px;
    gap: 20px;
  }
}

@media (width <= 992px) {
  .job-slider .card {
    min-width: 320px;
  }
}
